{% extends "user_address.html.twig" %}

{%  block admin_user_address_form %}
    {{ parent() }}

{% if mojoamsstatus %}
<tr>
    <td colspan="2" height="5px"></td>
</tr>
<tr>
    <td colspan="2" height="5px"> {{ translate({ ident: "ENDERECO_LAST_CHECK" }) }}</td>
</tr>
<tr>
    <td colspan="2">
    <table cellspacing="0" cellpadding="1px" border="0px" width="500px">
        <tr>
            <td valign="top" class="edittext">
                {{ translate({ ident: "ENDERECO_CHECK_STATUS", suffix: "COLON" }) }}
            </td>
            <!-- Anfang rechte Seite -->
            <td valign="top" class="edittext" align="left" width="50%">
                {% for status in mojoamsstatus %}
                {{ status }}<br>
                {% endfor %}
            </td>
            <!-- Ende rechte Seite -->
        </tr>
        <tr>
            <td colspan="2" height="5px"></td>
        </tr>
        <tr>
            <td valign="top" class="edittext">
                {{ translate({ ident: "ENDERECO_CHECK_TS", suffix: "COLON" }) }}
            </td>
            <!-- Anfang rechte Seite -->
            <td valign="top" class="edittext" align="left" width="50%">
                {{ mojoamsts }}
            </td>
            <!-- Ende rechte Seite -->
        </tr>
        <tr>
            <td colspan="2" height="5px"></td>
        </tr>
        <tr>
            <td valign="top" class="edittext">
                {{ translate({ ident: "ENDERECO_CHECK_PREDICTIONS", suffix: "COLON" }) }}
            </td>
            <!-- Anfang rechte Seite -->
            <td valign="top" class="edittext" align="left" width="50%">
                {% if mojoamspredictions %}
                {% for prediction in mojoamspredictions %}
                {{ prediction|raw }}<br>
                {% endfor %}
                {% endif %}
            </td>
            <!-- Ende rechte Seite -->
        </tr>
        <tr>
            <td colspan="2" height="5px"></td>
        </tr>
        <tr>
            <td valign="top" class="edittext">
                {{ translate({ ident: "ENDERECO_CHECK_NAMESCORE", suffix: "COLON" }) }}
            </td>
            <!-- Anfang rechte Seite -->
            <td valign="top" class="edittext" align="left" width="50%">
                {{ mojonamescore }}
            </td>
            <!-- Ende rechte Seite -->
        </tr>
    </table>
    </td>
</tr>
{% endif %}
{% endblock %}